body {
	font-family: "Myriad Pro", Frutiger, "Lucida Grande", "Lucida Sans",
		"Lucida Sans Unicode", Verdana, sans-serif;
	line-height: 1;
}

.clear {
	clear: both;
}

form {
	width: auto;
}

/* fieldset styling */
fieldset {
	padding: 1em;
	border: 1px solid #ccc;
	background-color: #F5F5F5;
	margin-top: 1em;
	margin-right: 0;
	margin-bottom: 1em;
	margin-left: 0;
}

/* legend styling */
legend {
	font-weight: bold;
	font-size: large;
}

form p {
	position: relative;
	width: 100%;
}

/* style for  labels */
label {
	float: left;
	width: 120px;
}

#remember-me label {
	width: 4em;
}

/* style for required labels */
label .required {
	font-size: 0.83em;
	color: #760000;
}

/* style error messages */
label .feedback {
	position: absolute;
	margin-left: 11em;
	left: 200px;
	right: 0;
	font-weight: bold;
	color: #760000;
	padding-left: 18px;
	background: url(../image/error.png) no-repeat left top;
}

/* :KLUDGE: Explicitly set the width for IE6- */
* html .feedback {
	width: 10em;
}

input {
	width: 200px;
}

input[type="text"],textarea {
	border-top: 2px solid #999;
	border-left: 2px solid #999;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

input.radio,input.checkbox {
	width: auto;
}

input.submit,input.reset {
	width: 40px;
	height: 20px;
	float: none;
	background-color: #94B8E9;
	margin-left: 30px;
	border: thin outset #FFF;
}

/* style form elements on focus */
input:focus,textarea:focus {
	background: #ffc;
}

input.radio {
	float: left;
	margin-right: 1em;
}

textarea {
	width: 300px;
	height: 100px;
}

/* Date of Birth form styling */
#monthOfBirthLabel,#yearOfBirthLabel {
	text-indent: -1000em;
	width: 0;
}

#dateOfBirth {
	width: 3em;
	margin-right: 0.5em;
}

#monthOfBirth {
	width: 10em;
	margin-right: 0.5em;
}

#yearOfBirth {
	width: 5em;
}

/* Color form styling */
#radio-checkbox {
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
}

#radio-checkbox h4 {
	width: 120px;
	float: left;
	font-size: 1em;
	font-weight: normal;
}

#radio-checkbox div {
	width: 120px;
	float: left;
}

#radio-checkbox label {
	width: 3em;
	float: none;
	display: inline;
}

/*#radiocheckbox p {
	margin: 0.3em 0;
}*/